FS_WS_WSCTFW/SOAPUI_Calls/MemberRegistration/MemberRegistration_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MemberRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="MemberRegistration.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="MemberRegistration_1_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="MemberRegistration_1.xsd" namespace="http://schemas.datacontract.org/2004/07/MemberRegistration"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberRegistration_UploadMemberRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadMemberRegistration"/>
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_UploadMemberRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadMemberRegistrationResponse"/>
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_ValidateMemberUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMemberUID"/>
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_ValidateMemberUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMemberUIDResponse"/>
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_GetMemberInsuranceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInsuranceInformation"/>
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_GetMemberInsuranceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInsuranceInformationResponse"/>
  </wsdl:message>
  <wsdl:portType name="IMemberRegistration">
    <wsdl:operation name="UploadMemberRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/UploadMemberRegistration" message="tns:IMemberRegistration_UploadMemberRegistration_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/UploadMemberRegistrationResponse" message="tns:IMemberRegistration_UploadMemberRegistration_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateMemberUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/ValidateMemberUID" message="tns:IMemberRegistration_ValidateMemberUID_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/ValidateMemberUIDResponse" message="tns:IMemberRegistration_ValidateMemberUID_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInsuranceInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformation" message="tns:IMemberRegistration_GetMemberInsuranceInformation_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformationResponse" message="tns:IMemberRegistration_GetMemberInsuranceInformation_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberRegistration" type="tns:IMemberRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UploadMemberRegistration">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/UploadMemberRegistration" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMemberUID">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/ValidateMemberUID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInsuranceInformation">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberRegistration">
    <wsdl:port name="BasicHttpBinding_IMemberRegistration" binding="tns:BasicHttpBinding_IMemberRegistration">
      <soap:address location="http://qa.dimensions-healthcare.net/MemberRegistration/MemberRegistration.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>